<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ICash - Conta</title>
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('header'); -%>
    <main>
      <section class="card-user">
        <div class="container">
          <form class="form-section">
            <div
              class="d-flex w-100 justify-content-between align-items-center"
            >
              <h1 class="title">Conta</h1>
              <button type="submit">Salvar</button>
            </div>
            <div class="input-group">
              <label for="description">Descrição:</label>
              <input
                type="text"
                id="description"
                name="description"
                value="<%= account.description %>"
                required
              />
            </div>
            <div class="input-group">
              <label for="comments">Comentários:</label>
              <textarea required rows="4" id="comments" name="comments"><% if (account.comments) { %><%= account.comments.trim() %><% } %></textarea>
            </div>
          </form>
        </div>
      </section>
    </main>
    <script>
      const accountData = JSON.parse(
        `<%= JSON.stringify(account) %>`.replace(/&#34;/g, '"')
      );
    </script>
    <script async type="module" src="/js/account.js"></script>
  </body>
</html>
