<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Contas</title>
    <link rel="stylesheet" href="/css/styleAccounts.css" />
  </head>
  <body>
    <section class="card">
      <div class="container">
        <h1>Cadastro de Contas</h1>
        <form id="accountForm">
          <label for="accountId">ID:</label>
          <input type="text" id="accountId" name="id" required />
          <label for="accountDescription">Descrição:</label>
          <input
            type="text"
            id="accountDescription"
            name="description"
            required
          />
          <label for="comments">Comentários:</label>
          <textarea id="comments" name="comments"></textarea>
          <button type="submit">Salvar</button>
        </form>
      </div>
    </section>
    <script src="script.js"></script>
  </body>
</html>
