<header class="d-flex w-100">
  <nav class="p-3 d-flex gap-2 w-100">
    <img
      class="icon-button"
      id="openDrawerBtn"
      width="48"
      height="48"
      src="/assets/icons/menu.png"
      alt="menu"
    />
    <a href="/home">
      <h1>ICash</h1>
    </a>
  </nav>
  <div id="drawer" class="drawer">
    <ul>
      <li>
        <a href="/home">
          <img src="/assets/icons/home.png" alt="home" />
          Início
        </a>
      </li>
      <li>
        <a href="/entries">
          <img src="/assets/icons/entries.png" alt="entries" />
          Lançamentos
        </a>
      </li>
      <li>
        <a href="/categories">
          <img src="/assets/icons/categories.png" alt="categories" />
          Categorias
        </a>
      </li>
      <li>
        <a href="/accounts">
          <img src="/assets/icons/accounts.png" alt="accounts" />
          Contas
        </a>
      </li>
      <li>
        <a href="/users">
          <img src="/assets/icons/users.png" alt="users" />
          Usuários
        </a>
      </li>
    </ul>
    <ul>
      <li id="exit-button">
        <a href="/">
          <img src="/assets/icons/exit.png" alt="exit" />
          Sair
        </a>
      </li>
    </ul>
  </div>
</header>
<script async type="module" src="/js/shared/drawer.js"></script>
