<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/assets/icons/favicon.png" />
    <title>ICash - Login</title>
  </head>
  <body class="container-center">
    <section class="card">
      <article class="title mb-3">Login</article>
      <form class="form-section" method="post">
        <div class="input-group">
          <label for="email">Email</label>
          <input required autocomplete="on" type="email" name="email" id="email" />
        </div>
        <div class="input-group">
          <label for="password">Senha</label>
          <input required name="password" type="password" id="password" />
        </div>
        <button type="submit">Entrar</button>
      </form>
    </section>
    <script async type="module" src="/js/login.js"></script>
  </body>
</html>
