<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ICash</title>
  </head>
  <body>
    <section class="card">
      <article class="title">Login</article>
      <form novalidate class="form-section" method="post">
        <div class="input-group">
          <label for="username">usuário</label>
          <input name="username" id="username" />
        </div>
        <div class="input-group">
          <label for="password">senha</label>
          <input name="password" type="password" id="password" />
        </div>
        <button type="submit">Entrar</button>
      </form>
    </section>
    <script async type="module" src="./js/login.js"></script>
  </body>
</html>
