<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <section class="card-user">
        <article class="title">Create Users</article>
        <form novalidate class="form-section">
            <div class="input-group">
                <label for="name">Nome completo</label>
                <input type="text"  name="name" id="name" />
            </div>
            <div class="input-group">
                <label for="user">User</label>
                <input type="text" name="user" id="user" />
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" />
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" />
            </div>
            <div class="input-group">
                <label for="level">Level</label>
                <select name="level" id="level">
                    <option value="admin">Admin</option>
                    <option value="user">Usuário</option>
                </select>
            </div>
            <div>
                <label for="status">Status</label>
                <input type="checkbox" name="status" id="status" />
            </div>
            <button type="submit">Criar Usuário</button>
        </form>
    </section>
    <script async type="module" src="./js/user.js"></script>
</body>
</html>