<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <section class="card-user">
        <article class="title">Create Users</article>
        <form novalidate class="form-section">
            <div class="input-group">
                <label for="name">Nome completo</label>
                <input name="name" id="name" />
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input name="email" id="email" />
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input name="password" id="password" />
            </div>
            <button type="submit">Criar Usuário</button>
        </form>
    </section>
    <script async src="/js/user.js"></script>
</body>
</html>