body {
  margin: 0;
  min-height: 100vh;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  background-color: #c62828;
  color: #fff;
}

ul {
  display: flex;
  column-gap: 1.5rem;
  height: 100%;
}

a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  cursor: pointer;
}

.p-3 {
  padding: 1.5rem;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.container-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
}

.card {
  background-color: rgb(50, 50, 50);
  width: 15rem;
  height: 17rem;
  padding: 1.5rem;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.message-box {
  background-color: #333;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
  color: #fff;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"] {
  border-radius: 5px;
  background-color: #fff;
  height: 1rem;
  padding: 10px;
}

textarea {
  all: unset;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}

button {
  all: unset;
  background-color: #c62828;
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5rem;
}

p {
  font-size: 18px;
  margin: 10px 0;
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #fff;
}

.card-user {
  background-color: rgb(50, 50, 50);
  width: calc(100% - 4rem);
  min-height: calc(100vh - 13rem);
  padding: 1.8rem;
  border-radius: 10px;
}

select {
  all: unset;
  border-radius: 5px;
  background-color: #fff;
  height: 1rem;
  padding: 10px;
}
